.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 400px;

    button {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }
}